@charset "UTF-8";
/* header */
header {
  background: #EDE9E3;
  position: fixed;
  z-index: 1000;
}

.logoHeader img {
  max-width: 180px;
}

.botonesHeader img {
  max-width: 30px;
  padding: 0.3rem;
}

.togglerCheck {
  display: none;
}

@media (min-width: 1024px) {
  .navHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .navHeader ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .navHeader ul li {
    padding: 0.7rem;
  }
  .navHeader ul li a {
    color: #64696e;
  }
  .navHeader ul li a::after {
    content: "";
    width: 0;
    display: block;
    border-bottom: 1px solid #A38F85;
    transition: ease-in-out 0.4s;
  }
  .navHeader ul li a:hover {
    color: #212529;
  }
  .navHeader ul li a:hover::after {
    width: 100%;
  }
  .navHeader .botonesHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .navLinks .active {
    color: #212529;
  }
}
@media (max-width: 768px) {
  .navHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navHeader .navToggler {
    display: grid;
  }
  .navHeader .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .navHeader .navLinks li,
  .navHeader .navLinks .botonesHeader {
    padding: 0.7rem;
  }
}
.navToggler {
  display: none;
  height: min-content;
  padding: 1rem;
  cursor: pointer;
}
.navToggler .bar {
  width: 35px;
  height: 2px;
  margin-bottom: 10px;
  background: #212529;
  border-radius: 10%;
  transition: 0.4s;
}

.togglerCheck:checked ~ nav .navLinks {
  transition: 0.6s;
  max-height: 100%;
}
.togglerCheck:checked ~ nav .navToggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
.togglerCheck:checked ~ nav .navToggler .bar:nth-child(2) {
  display: none;
}
.togglerCheck:checked ~ nav .navToggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

footer {
  background-color: #EDE9E3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: min-content;
}
footer .redesFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer img {
  max-width: 200px;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .accesoProds {
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: #A38F85;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "carousel prodButton";
    align-items: center;
    justify-items: center;
  }
  .prodButton {
    grid-area: prodButton;
    background: #EDE9E3;
    padding: 0.7rem;
    color: #212529;
    width: fit-content;
    transition: 0.4s;
  }
  .prodButton:hover {
    background: #CDC6C3;
  }
  .carousel-wrapper {
    grid-area: carousel;
    height: 450px;
    width: 700px;
    position: relative;
    display: block;
    margin-left: 2rem;
  }
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow {
    border: solid #EDE9E3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1rem;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  [id^=item] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url(../img/productos/vela_madera_fondo.jpg);
    background-size: cover;
  }
  .item-2 {
    background: url(../img/productos/camino_mesa.jpeg);
    background-size: cover;
  }
  .item-3 {
    background: url(../img/productos/vela_nar_carousel.jpg);
    background-size: cover;
  }
  .item-4 {
    background: url(../img/productos/velas_vidrio_carousel.jpeg);
    background-size: cover;
  }
  *:target ~ .item-1 {
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  }
  #item-2:target ~ .item-2,
  #item-3:target ~ .item-3,
  #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "card1 card2 card3 card4";
    margin: 3rem 0;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .cardFlex {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardButton {
    position: absolute;
    background: #EDE9E3;
    padding: 0.7rem;
    transition: 0.4s;
  }
  .cardButton:hover {
    background: #CDC6C3;
  }
  .cardButton:hover + .cardImg {
    opacity: 0.8;
  }
  .cardImg {
    z-index: -1;
    transition: 0.4s;
  }
  .menuProd li {
    padding: 1rem;
  }
  .menuProd a:hover {
    color: #E7D7C9;
  }
  .catVelas,
  .catEsencias,
  .catTextiles,
  .catDeco {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    padding: 1.5rem;
    justify-items: center;
  }
  .itemCatalogo {
    max-width: fit-content;
    padding: 2rem 6rem;
    text-align: center;
    transition: transform ease-in-out 0.5s;
  }
  .itemCatalogo:hover {
    transform: scale(1.2);
  }
  .gridNos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 80vh auto;
    grid-template-areas: "header header" "titulo texto" "footer footer";
  }
  .titNos {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7D7C9;
    padding-top: 5rem;
  }
  .titNos img {
    width: 50%;
    padding: 2rem 0;
  }
  .textoNos {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CDC6C3;
    padding: 5rem;
    line-height: 1.5rem;
  }
  .textoNos p {
    text-align: center;
    padding: 0.5rem 0rem;
  }
  .textoNos p span {
    font-variation-settings: "wght" 500;
  }
  .titleFaqs {
    text-align: center;
    padding-top: 4rem;
  }
  .faqs {
    background-color: #CDC6C3;
    margin: 2rem;
    height: min-content;
  }
  .tab {
    border-bottom: solid 1.5px #EDE9E3;
    overflow: hidden;
  }
  .tab:last-of-type {
    border-bottom: 0px;
  }
  .tab-input {
    display: none;
  }
  .tab-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-variation-settings: "wght" 500;
    padding: 1.1rem;
    cursor: pointer;
  }
  .tab-label:hover {
    background-color: #EDE9E3;
  }
  .tab-label::after {
    content: "❯";
    transition: 0.4s;
  }
  .tab-answer {
    padding: 0 1.4rem;
    transition: ease-out 0.4s;
    max-height: 0;
  }
  .tab-input:checked ~ .tab-answer {
    max-height: max-content;
    padding: 2rem;
  }
  .tab-input:checked ~ .tab-label {
    background-color: #EDE9E3;
  }
  .tab-input:checked ~ .tab-label::after {
    transform: rotate(90deg);
  }
  .gridContact {
    background-color: #E7D7C9;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 80vh auto;
    grid-template-areas: "header header" "contact medio" "footer footer";
  }
  .bloqueContacto {
    grid-area: contact;
  }
  .bloqueContactoMedios {
    grid-area: medio;
  }
  .bloqueContacto {
    background-color: #CDC6C3;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formContacto {
    column-gap: 2rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nombre nombre" "email telefono" "msj msj" "send send";
  }
  .formGroupName {
    grid-area: nombre;
  }
  .formGroupMail {
    grid-area: email;
  }
  .formGroupPhone {
    grid-area: telefono;
  }
  .formGroupMsj {
    grid-area: msj;
  }
  .formButton {
    grid-area: send;
  }
}
.formButton {
  border: none;
  padding: 1rem;
  border-radius: 5%;
  width: min-content;
  background-color: #EDE9E3;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  justify-self: center;
}
.formButton:hover {
  background-color: #E7D7C9;
}

.bloqueContactoMedios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #CDC6C3;
  margin: 9rem;
  padding: 2rem;
  text-align: center;
  text-size-adjust: 100%;
}
.bloqueContactoMedios h2 {
  padding: 1.5rem 0;
}
.bloqueContactoMedios h2::after {
  content: "";
  width: 0;
  display: block;
  border-bottom: 2px solid #A38F85;
  transition: ease-in-out 0.4s;
}
.bloqueContactoMedios h2:hover::after {
  width: 100%;
}

.linkContact {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.linkContact p {
  padding: 0 1rem;
  word-break: break-word;
}
.linkContact:hover {
  color: #A38F85;
}

@media (max-width: 768px) {
  .accesoProds {
    margin-top: 10%;
    background-color: #A38F85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prodButton {
    background: #EDE9E3;
    padding: 1rem;
    margin: 2rem;
  }
  .prodButton:active {
    background: #CDC6C3;
    border: #EDE9E3 solid 1.5px;
  }
  .carousel-wrapper {
    grid-area: carousel;
    height: 160px;
    width: 230px;
    position: relative;
    display: block;
    margin: 1.5rem;
  }
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow {
    border: solid #EDE9E3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.6rem;
  }
  .arrow-prev {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  .arrow-next {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  [id^=item] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url(../img/productos/vela_madera_fondo.jpg);
    background-size: cover;
  }
  .item-2 {
    background: url(../img/productos/camino_mesa.jpeg);
    background-size: cover;
  }
  .item-3 {
    background: url(../img/productos/vela_nar_carousel.jpg);
    background-size: cover;
  }
  .item-4 {
    background: url(../img/productos/velas_vidrio_carousel.jpeg);
    background-size: cover;
  }
  *:target ~ .item-1 {
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  }
  #item-2:target ~ .item-2,
  #item-3:target ~ .item-3,
  #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "card1 card2" "card3 card4";
    margin: 3rem 0;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .cardFlex {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardButton {
    position: absolute;
    color: #212529;
    background: #EDE9E3;
    padding: 0.5rem;
    font-size: 0.7em;
  }
  .menuProd ul {
    flex-wrap: wrap;
  }
  .menuProd li {
    padding: 0.7rem;
  }
  .menuProd a:active {
    color: #E7D7C9;
  }
  .catVelas,
  .catEsencias,
  .catTextiles,
  .catDeco {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
  }
  .itemCatalogo {
    padding: 1.5rem;
    row-gap: 1rem;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    text-align: center;
  }
  .itemCatalogo img:hover {
    transform: scale(1.2);
  }
  .gridNos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "titulo" "texto" "footer";
  }
  .titNos {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E7D7C9;
    padding: 7rem 2rem 2rem 2rem;
  }
  .titNos img {
    width: 70%;
    padding: 2rem 0;
  }
  .textoNos {
    grid-area: texto;
    background-color: #CDC6C3;
    padding: 2rem;
    line-height: 1.5rem;
  }
  .textoNos p {
    padding: 0.5rem 0rem;
  }
  .textoNos p span {
    font-variation-settings: "wght" 500;
  }
  .titleFaqs {
    text-align: center;
    padding-top: 7rem;
  }
  .faqs {
    background-color: #CDC6C3;
    margin: 2rem;
    height: min-content;
  }
  .tab {
    border-bottom: solid 1.5px #EDE9E3;
    overflow: hidden;
  }
  .tab:last-of-type {
    border-bottom: 0px;
  }
  .tab-input {
    display: none;
  }
  .tab-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-variation-settings: "wght" 500;
    flex-wrap: nowrap;
    padding: 1rem;
    cursor: pointer;
  }
  .tab-label:active {
    background-color: #EDE9E3;
  }
  .tab-label::after {
    content: "❯";
    transition: 0.4s;
  }
  .tab-answer {
    padding: 0 1.4rem;
    transition: ease-out 0.4s;
    max-height: 0;
  }
  .tab-input:checked ~ .tab-answer {
    max-height: max-content;
    padding: 2rem;
  }
  .tab-input:checked ~ .tab-label {
    background-color: #EDE9E3;
  }
  .tab-input:checked ~ .tab-label::after {
    transform: rotate(90deg);
  }
  .gridContact {
    background-color: #E7D7C9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "contact" "medio" "footer";
  }
  .bloqueContacto {
    grid-area: contact;
  }
  .bloqueContactoMedios {
    grid-area: medio;
  }
  .bloqueContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CDC6C3;
    padding: 7rem 2rem 1.5rem 1.5rem;
  }
  .formContacto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
  .formButton {
    justify-self: center;
    width: min-content;
    border: none;
    padding: 1rem;
    background-color: #EDE9E3;
  }
  .formButton:active {
    background-color: #CDC6C3;
  }
  .formLabel {
    padding-left: 0.6rem;
  }
  .bloqueContactoMedios {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #CDC6C3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
  .linkContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .linkContact img {
    padding: 0.6rem;
  }
  .linkContact p {
    word-break: break-word;
  }
}
@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "playfair";
  src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}

body {
  height: 100vh;
}

h1, h2, h3, h5 {
  font-variation-settings: "wght" 500;
}

.fullWidth {
  width: 100%;
}

.imgFluid {
  width: 100%;
  height: auto;
}

a {
  color: #212529;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.gridHome {
  background-color: #E7D7C9;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 90vh auto auto auto;
  grid-template-areas: "header" "bgVela " "accProd " "accCards" "footer";
}

header {
  grid-area: header;
}

.bgVelaMadera {
  grid-area: bgVela;
}

.accesoProds {
  grid-area: accProd;
}

.cardGrid {
  grid-area: accCards;
}

footer {
  grid-area: footer;
}

.bgVelaMadera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/productos/vela_madera_nar.jpg) no-repeat center center fixed;
  background-color: gray;
  background-blend-mode: multiply;
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
}
.bgVelaMadera .textoFondoMadera {
  color: #A38F85;
  font-family: "playfair";
  text-align: center;
  font-variation-settings: "wght" 300;
}

.gridProductos {
  background-color: #E7D7C9;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 60vh auto auto;
  grid-template-areas: "header" "mainProd" "prodCat" "footer";
}

.bgVelaVidrio {
  grid-area: mainProd;
}

.gridCatalogo {
  grid-area: prodCat;
}

.bgVelaVidrio {
  background: url(../img/productos/velas_caramelera_rosa.jpeg) no-repeat center center fixed;
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bgVelaVidrio .textoFondoVidrio {
  color: #A38F85;
  font-family: "playfair";
  font-variation-settings: "wght" 400;
  font-size: 3em;
  text-align: center;
}

.menuProd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #A38F85;
  position: sticky;
  top: 5.7rem;
  width: 100%;
  z-index: 500;
}
.menuProd ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.titCatalogo {
  text-align: center;
  padding-top: 4rem;
  font-size: 1.5em;
  scroll-margin-top: 10rem;
}

.gridFaqs {
  background-color: #A38F85;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "title" "faqs" "footer";
}

.faqs {
  grid-area: faqs;
}

.titleFaqs {
  grid-area: title;
}

.formGroupName,
.formGroupMail,
.formGroupPhone,
.formGroupMsj {
  position: relative;
  padding: 0.7rem;
}

.formLabel {
  position: absolute;
  top: 0;
  transform: translateY(30px);
  transition: all 0.4s;
}

.formInput {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #212529;
  padding: 0.7rem;
  margin: 0.5rem 0;
}
.formInput::placeholder {
  color: transparent;
}
.formInput:not(:placeholder-shown) + .formLabel {
  color: #64696e;
  transform: translateY(0);
  font-size: 0.9rem;
}
.formInput:focus {
  border-bottom: 1.5px solid #64696e;
}
.formInput:focus + .formLabel {
  color: #64696e;
  transform: translateY(0);
  font-size: 0.9rem;
}
.formInput:required + .formLabel {
  color: #212529;
}
.formInput:valid {
  border-bottom: 1.5px solid #A38F85;
}
.formInput:valid + .formLabel {
  color: #A38F85;
  transform: translateY(0);
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
