@media (min-width: 1024px) {


    .accesoProds {
        margin-top: 4rem;
        padding: 2rem 0;
        background-color: $marron-color;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "carousel prodButton";

        align-items: center;
        justify-items: center;
    }

    .prodButton {
        grid-area: prodButton;
        background: $hueso-color;
        padding: .7rem;
        color: $negro-color;
        width: fit-content;
        transition: .4s;

        &:hover {
            background: $gris-color;
        }
    }

    .carousel-wrapper {
        grid-area: carousel;
        height: 450px;
        width: 700px;
        position: relative;
        display: block;
        margin: 2rem;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .arrow {
        border: solid $hueso-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 1rem;
    }

    .arrow-prev {
        left: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .arrow-next {
        right: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    [id^="item"] {
        display: none;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url(../img/productos/esencia_carrousel.jpg);
        background-size: cover;
    }

    .item-2 {
        background: url(../img/productos/caramelera_carrousel.jpg);
        background-size: cover;
    }

    .item-3 {
        background: url(../img/productos/velas_madera_fondo.jpg);
        background-size: cover;
    }

    *:target~.item-1 {
        opacity: 0;
    }

    #item-1:target~.item-1 {
        opacity: 1;
    }

    #item-2:target~.item-2,
    #item-3:target~.item-3 {
        z-index: 3;
        opacity: 1;
    }

    .cardGrid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "card1 card2 card3 card4";

        margin: 3rem 0;
    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }

    .cardFlex {
        padding: 2rem;
        @include flex-col-center-cen;
    }

    .cardButton {
        position: absolute;
        background: $hueso-color;
        padding: .7rem;
        transition: .4s;

        &:hover {
            background: $gris-color;

            +.cardImg {
                opacity: .8;
            }
        }
    }

    .cardImg {
        z-index: -1;
        transition: .4s;
    }


    // prods
    .menuProd {
        li {
            padding: 1rem;
        }
        a {
            &:hover {
                color: $beige-color;
            }
        }
    }

    

    .catVelas,
    .catEscencias,
    .catTextiles,
    .catDeco {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: auto;
        padding: 1.5rem;
        justify-items: center;
    }


    .itemCatalogo {
        max-width: fit-content;
        padding: 2rem 6rem;
        row-gap: 1rem;
        transition: transform 1s ease-in-out;
        text-align: center;
        font-size: 2em;

        img:hover {
            transform: scale(1.2);
        }
    }

    // nosotros
    .gridNos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 80vh auto;
        grid-template-areas:
            "header header"
            "titulo texto"
            "footer footer";
    }

    .titNos {
        grid-area: titulo;
        @include flex-col-center-cen;
        background-color: $beige-color;

        img {
            width: fit-content;
            padding: 2rem 0;
        }

    }

    .textoNos {
        grid-area: texto;

        @include flex-col-center-cen;
        background-color: $gris-color;
        padding: 5rem;
        line-height: 1.5rem;

        p {
            text-align: center;
            padding: 0.5rem 0rem;
        }
    }


    //faqs
    .titleFaqs {
        text-align: center;
        padding-top: 4rem;
    }

    .faqs {
        background-color: $gris-color;
        margin: 2rem;
        height: min-content;
    }

    .tab {
        border-bottom: solid 1.5px $hueso-color;
        overflow: hidden;

        &:last-of-type {
            border-bottom: 0px;
        }
    }

    .tab-input {
        display: none;
    }

    .tab-label {
        @include flex-row-center-bet;
        font-variation-settings: $font-semibold;
        padding: 1.1rem;
        // margin: 0 .7rem;
        cursor: pointer;

        &:hover {
            background-color: $hueso-color;
        }

        &::after {
            content: "❯";
            transition: .4s;
        }
    }

    .tab-answer {
        padding: 0 1.4rem;
        transition: ease-out .4s;
        max-height: 0;
    }

    .tab-input {
        &:checked~.tab-answer {
            max-height: max-content;
            padding: 2rem;
        }

        &:checked~.tab-label {
            background-color: $hueso-color;

            &::after {
                transform: rotate(90deg);
            }
        }
    }

    //contacto
    .gridContact {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 80vh auto;
        grid-template-areas:
            "header header"
            "contact medio"
            "footer footer";
    }

    .bloqueContacto {
        grid-area: contact;
    }

    .bloqueContactoMedios {
        grid-area: medio;
    }

    .bloqueContacto {
        background-color: $gris-color;
        padding: 6rem;
        @include flex-col-center-cen;

    }

    .formContacto {
        column-gap: 2rem;
        padding: 1rem 0;

        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "nombre nombre"
            "email telefono"
            "msj msj"
            "send send";
    }

    .formGroupName {
        grid-area: nombre;
    }

    .formGroupMail {
        grid-area: email;
    }

    .formGroupPhone {
        grid-area: telefono;
    }

    .formGroupMsj {
        grid-area: msj;
    }

    .formButton {
        grid-area: send;
    }



    .formButton {
        border: none;
        padding: 1rem;
        border-radius: 5%;
        width: min-content;
        background-color: $hueso-color;
        cursor: pointer;
        font-size: 1em;
        display: flex;
        justify-self: center;

        &:hover {
            background-color: $beige-color;
        }
    }

    .bloqueContactoMedios {
        @include flex-col-center-start;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $gris-color;
        margin: 9rem;
        padding: 2rem;
        text-align: center;
        text-size-adjust: 100%;

        h2 {
            padding: 1.5rem 0;
        }
    }

    .linkContact {
        padding: 1rem;
        @include flex-row-center-start;

        p {
            padding: 0 1rem;
            word-break: break-word;
        }

        &:hover {
            color: $marron-color;
        }
    }

}