@media (min-width: 1024px) {
    //index
    .accesoProds {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "carousel prodButton";
        align-items: center;
        justify-items: center;
    }

    .prodButton {
        grid-area: prodButton;
        padding: .7rem;
        width: fit-content;

    }

    .carousel-wrapper {
        grid-area: carousel;
        height: 450px;
        width: 700px;
        position: relative;
        display: block;
        margin-left: 2rem;
    }

    .arrow {
        border: solid $hueso-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 1rem;
    }

    .arrow-prev {
        left: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .arrow-next {
        right: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .cardGrid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "card1 card2 card3 card4";

        margin: 3rem 0;
    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }


    .cardButton {
        position: absolute;
        background: $hueso-color;
        padding: .7rem;
        transition: .4s;

        &:hover {
            background: $gris-color;

            +.cardImg {
                opacity: .8;
            }
        }
    }

    .cardImg {
        z-index: -1;
        transition: .4s;
    }

    // productos
    .menuProd {
        li {
            padding: 1rem;
        }
    }

    .catVelas,
    .catEsencias,
    .catTextiles,
    .catDeco {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: auto;
        padding: 1.5rem;
        justify-items: center;
    }


    .itemCatalogo {
        padding: 2rem 6rem;
        max-width: fit-content;
        text-align: center;
        cursor: pointer;
        transition: transform ease-in-out .5s;
        &:hover{
            transform: scale(1.2);
        }
    }

    // nosotros
    .gridNos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 80vh auto;
        grid-template-areas:
            "header header"
            "titulo texto"
            "footer footer";
    }

    .titNos {
        grid-area: titulo;
        @include flex-col-center-cen;
        background-color: $beige-color;
        padding-top: 5rem;

        img {
            width: 50%;
            padding: 2rem 0;
        }

    }

    .textoNos {
        grid-area: texto;

        @include flex-col-center-cen;
        background-color: $gris-color;
        padding: 5rem;
        line-height: 1.5rem;

        p {
            text-align: center;
            padding: 0.5rem 0rem;
            span{
                font-variation-settings: $font-semibold;
            }
        }
    }


    //faqs
    .titleFaqs {
        text-align: center;
        margin-top: 4rem;
    }


    //contacto
    .gridContact {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 80vh auto;
        grid-template-areas:
            "header header"
            "contact medio"
            "footer footer";
    }

    .bloqueContacto {
        grid-area: contact;
    }

    .bloqueContactoMedios {
        grid-area: medio;
    }

    .bloqueContacto {
        padding: 6rem;
    }

    .formContacto {
        column-gap: 2rem;
        padding: 1rem 0;

        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "nombre nombre"
            "email telefono"
            "msj msj"
            "send send";
    }

    .formGroupName {
        grid-area: nombre;
    }

    .formGroupMail {
        grid-area: email;
    }

    .formGroupPhone {
        grid-area: telefono;
    }

    .formGroupMsj {
        grid-area: msj;
    }

    .formButton {
        grid-area: send;
    }
 
}
    .formButton {
        border: none;
        padding: 1rem;
        border-radius: 5%;
        width: min-content;
        background-color: $hueso-color;
        cursor: pointer;
        font-size: 1em;
        display: flex;
        justify-self: center;

        &:hover {
            background-color: $beige-color;
        }
    }

    .bloqueContactoMedios {
        @include flex-col-center-start;
        align-items: center;
        background-color: $gris-color;
        margin: 9rem;
        padding: 2rem;
        text-align: center;
        text-size-adjust: 100%;

        h2 {
            padding: 1.5rem 0;
            &::after {
                content: "";
                width: 0;
                display: block;
                border-bottom: 2px solid $marron-color;
                transition: ease-in-out .4s;
              }
        
              &:hover::after  {
                  width: 100%;
                }
        }
    }

    .linkContact {
        padding: 1rem;
        @include flex-row-center-start;

        p {
            padding: 0 1rem;
            word-break: break-word;
        }

        &:hover {
            color: $marron-color;
        }
    }

