// fonts
@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "playfair";
    src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}

//grales
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    color: $negro-color;
}

// .br5 {
//     border-radius: 10px;
// }

.fullWidth {
    width: 100%;
}

.imgFluid {
    width: 100%;
    height: auto;
    // max-width: 500px;
}

a {
    text-decoration: none;

}


ul {
    list-style-type: none;
}

@media (min-width: 1024px) {

    //index
    .gridHome {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 35% auto auto auto;
        grid-template-areas:
            "header"
            "bgVela "
            "accProd "
            "accCards"
            "footer";
    }

    header {
        grid-area: header;
    }

    .bgVelaMadera {
        grid-area: bgVela;
    }

    .accesoProds {
        grid-area: accProd;
    }

    .cardGrid {
        grid-area: accCards;
    }

    footer {
        grid-area: footer;
    }

    .bgVelaMadera {
        @include flex-col-center-cen;
        background: url(../img/productos/velas_carameleras_rosas.jpg) no-repeat center center fixed;
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;

        .textoFondoMadera {
            font-family: "playfair";
            text-align: center;
        }
    }

    .accesoProds {
        margin-top: 4rem;
        background-color: $marron-color;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
        "carousel botProd";
        // display: flex;
        // align-items: center;
        // justify-content: space-around;
    }

    .prodButton {
        grid-area: botProd;
        background: $hueso-color;
        padding: .7rem;
        color: $negro-color;
        &:hover{
             background: $gris-color;
            border: $gris-color solid 1.5px;
        }
    }
    .carousel-wrapper {
        grid-area: carousel;
        height: 300px;
        width: 500px;
        position: relative;
        display: block;
        // margin: 50px auto ;
      }
      
      .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // padding: 25px 50px;
        // padding: 20rem;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      .arrow{
        border: solid $hueso-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 12px;
      }

      .arrow-prev {
        left: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      }
      
      .arrow-next {
        right: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
      
      [id^= "item"] {
        display: none;
      }
      .item-1 {
        z-index: 2;
        opacity: 1;
        background: url(../img/productos/esencia_carrousel.jpg);
        background-size: cover;
      }
      .item-2 {
        background: url(../img/productos/caramelera_carrousel.jpg);
        background-size: cover;
      }
      .item-3 {
        background: url(../img/productos/velas_madera_fondo.jpg);
        background-size: cover;
      }
      
      *:target ~ .item-1{
        opacity: 0;
      }
      #item-1:target ~ .item-1 {
        opacity: 1;
      
      }
      #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
        z-index: 3;
        opacity: 1;
      } 





    .cardGrid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "card1 card2 card3 card4";

        margin: 3rem 0;
    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }

    .cardFlex {
        padding: 10%;
        @include flex-col-center-cen;
    }

    .cardButton {
        position: absolute;
        color: $negro-color;
        background: $hueso-color;
        padding: 10px;
        :hover{
             background: $gris-color;
            border: $gris-color solid 1.5px;
        }
    }


    //prods
    .gridProductos {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "header"
            "mainProd"
            "menuP"
            "prodCat"
            "footer";
    }

    .bgVelaVidrio {
        grid-area: mainProd;
    }

    .menuProd {
        grid-area: menuP;
    }

    .gridCatalogo {
        grid-area: prodCat;
    }

    .bgVelaVidrio {
        background: url(../img/productos/velas_carameleras_rosas.jpg) no-repeat center center fixed;
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;

        .textoFondoVidrio {
            @include flex-col-center-cen;
            color: $beige-color;
            padding: 12rem 0;
        }
    }

    .menuProd {
        @include flex-row-center-cen;
        background-color: $marron-color;
        position: sticky;
        top: 7rem;
        z-index: 500;

        ul {
            @include flex-row-center-aro;

            li {
                padding: 1rem;
            }
        }
    }

    .catVelas,
    .catEscencias,
    .catTextiles,
    .catDeco {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: auto auto auto auto;
        padding: 1.5rem;
    //     grid-template-areas: 
    //     "titulo"
    //     "productos"
     }

    // .titCatalogo{
    //     grid-area: titulo;
    // }
    // .itemCatalogo{
    //     grid-area: productos;
    // }

    .itemCatalogo {
        @include flex-col-center-cen;
        padding: 2rem 6rem;
        row-gap: 1rem;
        cursor: pointer;
        transition: transform 1s ease-in-out;
    
    
        img:hover {
            transform: scale(1.2);
        }
    
    
    }

    // nosotros
    .gridNos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "nosotros"
            "footer";
    }

    .mainNos {
        grid-area: nosotros;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "titulo texto";
    }

    .titNos {
        grid-area: titulo;

        @include flex-col-center-cen;
        background-color: $beige-color;
        padding: 2rem;

        h2 {
            padding: 2rem 0;
        }
    }

    .textoNos {
        grid-area: texto;

        @include flex-col-center-cen;
        background-color: $gris-color;
        padding: 3rem;
        line-height: 1.5rem;

        p {
            padding: 0.5rem 0rem;
        }
    }



    //faqs
    .gridFaqs {
        background-color: $marron-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "title"
            "faqs"
            "footer";
    }

    .faqs {
        grid-area: faqs;
    }

    .titleFaqs {
        grid-area: title;
    }

    .titleFaqs {
        text-align: center;
    }

    .faqs {
        background-color: $gris-color;
        margin: 2rem;

    }

    .material-symbols-outlined,
    .input,
    .answer {
        display: none;
    }

    .label {
        @include flex-row-center-bet;
        cursor: pointer;
        padding: 1.5rem;
        border-bottom: solid 1px $hueso-color;
        color: $negro-color;
    }

    .label:hover .material-symbols-outlined {
        display: inline-block;
    }

    .answer p {
        padding: 1.5rem 2rem;
        color: $negro-color;
    }

    .input:checked~.answer {
        display: block;
    }

    .input:checked~.answer::after {
        transform: translateY(-50%) rotate(0.5turn);
    }

    //contacto
    .gridContact {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header"
            "contact medio"
            "footer footer";
    }

    .bloqueContacto {
        grid-area: contact;
    }

    .bloqueContactoMedios {
        grid-area: medio;
    }

    form {
         padding: 2rem 1rem;
       }
    .bloqueContacto {
        background-color: $gris-color;
        padding: 6rem;
    }

    .formInput {
        background: none;
        color: $hueso-color;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        padding: .7rem;
        margin: 5% 0%;
    }

    .formButton {
        border: none;
        padding: 1rem;
        background-color: $hueso-color;
        :hover {
            background-color: $gris-color;
        }
    }

    .bloqueContactoMedios {
        margin: 4rem;
        background-color: $gris-color;
        @include flex-col-center-start;
    }

    .linkContact {
        @include flex-row-center-start;
        img{
            padding: 1rem;
        }
    }

}

@media (max-width: 768px) {

    //index
    .gridHome {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 35% auto auto auto;
        grid-template-areas:
            "header"
            "bgVela "
            "accProd "
            "accCards"
            "footer";
    }

    header {
        grid-area: header;
    }

    .bgVelaMadera {
        grid-area: bgVela;
    }

    .accesoProds {
        grid-area: accProd;
    }

    .cardGrid {
        grid-area: accCards;
    }

    footer {
        grid-area: footer;
    }

    .bgVelaMadera {
        @include flex-col-center-cen;
        background: url(../img/productos/velas_carameleras_rosas.jpg) no-repeat center center fixed;
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;

        @include flex-col-center-cen;

        .textoFondoMadera {
            text-align: center;
        }
    }

    .accesoProds {
        margin-top: 10%;
        background-color: $marron-color;

        @include flex-col-center-cen
    }

    .prodButton {
        background: $hueso-color;
        padding: 1rem;
        margin: 2rem;

        :hover {
            background: $gris-color;
            border: $hueso-color solid 1.5px;
        }
    }

    .cardGrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "card1 card2"
            "card3 card4";

        margin: 3rem 0;
    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }

    .cardFlex {
        padding: 10%;
        @include flex-col-center-cen;
    }

    .cardButton {
        position: absolute;
        color: $negro-color;
        background: $hueso-color;
        padding: 10px;

        :hover {
            background: $gris-color;
            border: $hueso-color solid 1.5px;
        }
    }

    //prods
    //prods
    .gridProductos {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "header"
            "mainProd"
            "menuP"
            "prodCat"
            "footer";
    }

    .bgVelaVidrio {
        grid-area: mainProd;
    }

    .menuProd {
        grid-area: menuP;
    }

    .gridCatalogo {
        grid-area: prodCat;
    }

    .bgVelaVidrio {
        background: url(../img/productos/velas_carameleras_rosas.jpg) no-repeat center center fixed;
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;

        .textoFondoVidrio {
            @include flex-col-center-cen;
            color: $beige-color;
            padding: 12rem 0;
        }
    }

    .menuProd {
        @include flex-row-center-cen;
        background-color: $marron-color;
        position: sticky;
        top: 7rem;
        z-index: 500;

        ul {
            @include flex-row-center-aro;

            li {
                padding: 1rem;
            }
        }
    }

    .catVelas,
    .catEscencias,
    .catTextiles,
    .catDeco {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        padding: 1rem;
    }

    .itemCatalogo {
        @include flex-col-center-cen;
        padding: 1.5rem;
        row-gap: 1rem;
    
        cursor: pointer;
        transition: transform 1s ease-in-out;
    
    
        img:hover {
            transform: scale(1.2);
        }
    
    }   

    // nosotros
    .gridNos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "nosotros"
            "footer";
    }

    .mainNos {
        grid-area: nosotros;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "titulo"
            "texto";
    }

    .titNos {
        grid-area: titulo;

        @include flex-col-center-cen;
        background-color: $beige-color;
        padding: 2rem;

        h2 {
            padding: 2rem 0;
        }
    }

    .textoNos {
        grid-area: texto;

        @include flex-col-center-cen;
        background-color: $gris-color;
        padding: 2rem;
        line-height: 1.5rem;

        p {
            padding: 0.5rem 0rem;
        }
    }

    //faqs
    //faqs
    .gridFaqs {
        background-color: $marron-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "title"
            "faqs"
            "footer";
    }

    .faqs {
        grid-area: faqs;
    }

    .titleFaqs {
        grid-area: title;
    }

    .titleFaqs {
        text-align: center;
    }

    .faqs {
        background-color: $gris-color;
        margin: 2rem;

    }

    .material-symbols-outlined,
    .input,
    .answer {
        display: none;
    }

    .label {
        @include flex-row-center-bet;
        cursor: pointer;
        padding: 1.5rem;
        border-bottom: solid 1px $hueso-color;
        color: $negro-color;
    }

    .label:hover .material-symbols-outlined {
        display: inline-block;
    }

    .answer p {
        padding: 1.5rem 2rem;
        color: $negro-color;
    }

    .input:checked~.answer {
        display: block;
    }

    .input:checked~.answer::after {
        transform: translateY(-50%) rotate(0.5turn);
    }
    // cont
    //contacto
    .gridContact {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "contact"
            "medio"
            "footer";
    }

    .bloqueContacto {
        grid-area: contact;
    }

    .bloqueContactoMedios {
        grid-area: medio;
    }

    form {
         padding: 1rem 1rem;
       }
    .bloqueContacto {
        background-color: $gris-color;
        padding: 2rem;
    }

    .formInput {
        background: none;
        color: $hueso-color;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        padding: .7rem;
        margin: 5% 0%;
    }

    .formButton {
        border: none;
        padding: 1rem;
        background-color: $hueso-color;
        :hover {
            background-color: $gris-color;
        }
    }

    .bloqueContactoMedios {
        margin: 1rem;
        padding: .5rem;
        background-color: $gris-color;
        @include flex-col-center-start;
    }

    .linkContact {
        @include flex-row-center-start;
        img{
            padding: 1rem;
        }
    }
}


