// fonts
@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "playfair";
    src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}

//grales
* {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
}

body {
    height: 100vh;
}
h1, h2, h3, h5{
    font-variation-settings: $font-semibold;

}

.fullWidth {
    width: 100%;
}

.imgFluid {
    width: 100%;
    height: auto;
}

a {
    color: $negro-color;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

//index
.gridHome {
    background-color: $beige-color;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 90vh auto auto auto;
    grid-template-areas:
        "header"
        "bgVela "
        "accProd "
        "accCards"
        "footer";
}

header {
    grid-area: header;
}

.bgVelaMadera {
    grid-area: bgVela;
}

.accesoProds {
    grid-area: accProd;
}

.cardGrid {
    grid-area: accCards;
}

footer {
    grid-area: footer;
}

.bgVelaMadera {
    @include flex-col-center-cen;
    background: url(../img/productos/vela_madera_nar.jpg) no-repeat center center fixed;
    background-color: gray;
    background-blend-mode: multiply;
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;

    .textoFondoMadera {
        color: $marron-color;
        font-family: "playfair";
        text-align: center;
        font-variation-settings: $font-thin;
    }
}

    //prods
    .gridProductos {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 60vh auto auto;
        grid-template-areas:
            "header"
            "mainProd"
            "prodCat"
            "footer";
    }

    .bgVelaVidrio {
        grid-area: mainProd;
    }
    .gridCatalogo {
        grid-area: prodCat;
    }

    .bgVelaVidrio {
        background: url(../img/productos/velas_caramelera_rosa.jpeg) no-repeat center center fixed;
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        @include flex-col-center-cen;

        .textoFondoVidrio {
            color: $marron-color;
            font-family: "playfair";
            font-variation-settings: $font-regular;
            font-size: 3em;
            text-align: center
        }
    }

    .menuProd {
        @include flex-row-center-cen;
        background-color: $marron-color;
        position: sticky;
        top: 5.7rem;
        width: 100%;
        z-index: 500;

        ul {
            @include flex-row-center-aro;
        }   
    }
    .titCatalogo {
        text-align: center;
        padding-top: 4rem;
        font-size: 1.5em;
        scroll-margin-top: 10rem;
    }

    //faqs
    .gridFaqs {
        background-color: $marron-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "title"
            "faqs"
            "footer";
    }

    .faqs {
        grid-area: faqs;
    }

    .titleFaqs {
        grid-area: title;
    }

    //contact


    .formGroupName,
    .formGroupMail,
    .formGroupPhone,
    .formGroupMsj {
        position: relative;
        padding: .7rem;
    }

    .formLabel {
        position: absolute;
        top: 0;
        transform: translateY(30px);
        transition: all .4s;

    }

    .formInput {
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1.5px solid $negro-color;
        padding: .7rem;
        margin: .5rem 0;

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown) {
            +.formLabel {
                color: $gris-osc-color;
                transform: translateY(0);
                font-size: .9rem;
            }
        }

        &:focus {
            border-bottom: 1.5px solid $gris-osc-color;

            +.formLabel {
                color: $gris-osc-color;
                transform: translateY(0);
                font-size: .9rem;
            }
        }

        &:required+.formLabel {
            color: $negro-color;
        }

        &:valid {
            border-bottom: 1.5px solid $marron-color;

            +.formLabel {
                color: $marron-color;
                transform: translateY(0);
                font-size: .9rem;
            }
        }
    }