@media (max-width: 768px) {
    //index
    .accesoProds {
        @include flex-col-center-cen
    }

    .prodButton {
        padding: 1rem;
        margin: 2rem;
    }

    .carousel-wrapper {
        grid-area: carousel;
        height: 160px;
        width: 230px;
        position: relative;
        display: block;
        margin: 1.5rem;
    }

    .arrow {
        border: solid $hueso-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: .6rem;
    }

    .arrow-prev {
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .arrow-next {
        right: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }


    .cardGrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "card1 card2"
            "card3 card4";

        margin: 3rem 0;
    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }

    .cardButton {
        position: absolute;
        background: $hueso-color;
        padding: .5rem;
        font-size: .7em;
    }

    //productoss
    .menuProd {
        ul{
        flex-wrap: wrap;
        }
        li {
            padding: .7rem;
        }
    }

    .catVelas,
    .catEsencias,
    .catTextiles,
    .catDeco {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
    }

    .itemCatalogo {
        padding: 1.5rem;
        transition: transform 1s ease-in-out;
        text-align: center;

        img:hover {
            transform: scale(1.2);
        }
    }

    // nosotros
    .gridNos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "titulo"
            "texto"
            "footer";
    }

    .titNos {
        grid-area: titulo;
        @include flex-col-center-cen;
        background-color: $beige-color;
        padding: 7rem 2rem 2rem 2rem;
        img{
            width: 70%;
            padding: 2rem 0;
        }
    }

    .textoNos {
        grid-area: texto;

        background-color: $gris-color;
        padding: 2rem;
        line-height: 1.5rem;

        p {
            padding: 0.5rem 0rem;
            span{
                font-variation-settings: $font-semibold;
            }
        }
    }

    //faqs
    .titleFaqs {
        text-align: center;
        margin-top: 7rem;
    }

    //contacto
    .gridContact {
        background-color: $beige-color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "contact"
            "medio"
            "footer";
    }

    .bloqueContacto {
        grid-area: contact;
    }

    .bloqueContactoMedios {
        grid-area: medio;
    }

    .bloqueContacto {
        padding: 7rem 2rem 1.5rem 1.5rem;

    }

    .formContacto {
        width: 80%;
        @include flex-col-center-start;

    }

    .formButton {
        justify-self: center;
        width: min-content;
        border: none;
        padding: 1rem;
        background-color: $hueso-color;

        &:active {
            background-color: $gris-color;
        }
    }
    .formLabel{
        padding-left: .6rem;
    }

    .bloqueContactoMedios {
        margin: 1rem;
        padding: .5rem;
        background-color: $gris-color;
        @include flex-col-center-start;
    }

    .linkContact {
        @include flex-row-center-start;
        flex-wrap: nowrap;
        img {
            padding: .6rem;
        }
        p{
            word-break: break-word;
        }
    }
}